
FLDCVisitManager/ClassLibrary1/bin/Debug/netcoreapp3.1/

FLDCVisitManager/ClassLibrary1/obj/

FLDCVisitManager/FLDCVisitManager/bin/Debug/netcoreapp3.1/

FLDCVisitManager/FLDCVisitManager/obj/Debug/netcoreapp3.1/

FLDCVisitManager/.vs/FLDCVisitManager/DesignTimeBuild/.dtbcache

FLDCVisitManager/.vs/FLDCVisitManager/v16/

FLDCVisitManager/FLDCVisitManager/obj/

FLDCVisitManager/SquidexDataLayar/bin/Debug/netcoreapp3.1/

FLDCVisitManager/SquidexDataLayar/obj/

FLDCVisitManager/DBManager/bin/Debug/netcoreapp3.1/DBManager.deps.json

FLDCVisitManager/DBManager/bin/Debug/netcoreapp3.1/DBManager.pdb

FLDCVisitManager/DBManager/obj/
