FLDCVisitManager/FLDCVisitManager.Backend/.config/

FLDCVisitManager/FLDCVisitManager.Backend/obj/*

FLDCVisitManager/FLDCVisitManager.CMSDataLayar/obj/*

FLDCVisitManager/FLDCVisitManager.CMSDataLayar/bin/*

FLDCVisitManager/FLDCVisitManager.DataLayer/.vs/

FLDCVisitManager/FLDCVisitManager.DataLayer/obj/*

FLDCVisitManager/FLDCVisitManager/.config/

FLDCVisitManager/FLDCVisitManager.DataLayer/bin/*

FLDCVisitManager/FLDCVisitManager.Backend/bin/*

FLDCVisitManager/.vs/FLDCVisitManager/DesignTimeBuild/

FLDCVisitManager/.vs/FLDCVisitManager/v16/

FLDCVisitManager/FLDCBackend.Test/obj/*

FLDCVisitManager/FLDCBackend.Test/bin/*
